*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-admin
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-includes
node_modules
wp-content/plugins/
wp-snapshots/
webfonts/
/readme.html
/license.txt
*.sql
*.zip
xmlrpc.php

wp-trackback.php
wp-signup.php
wp-settings.php
wp-login.php
wp-load.php
wp-mail.php
wp-cron.php
wp-links-opml.php
wp-content/themes/index.php
wp-activate.php
wp-content/index.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php

wp-content/themes/project/node_modules